<a href="https://colab.research.google.com/github/Bea-Tankeko/DSA-CPE-010-CPE21S1-TANKEKO--Data-Structures-and-Algorithms/blob/main/EXERCISE_5_DSA_DEMO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#EXAMPLE 1
import array
array.typecodes
a = array.array('i',[1,2,3,4,5,6])
b = array.array ('f',[1.5,2.5,3.5,4.5,5.5,6.5])
a.typecode
b.typecode
print(a.typecode)
print(b.typecode)

In [1]:
#CREAT THE ELEMENTS OF AN ARRAY a TO FLOAT/DECIMAL NUMBER
#'f'=float
import array
array.typecodes
a = array.array('f',[1.5,2.5,3.5,4.5,5.5,6.5])
b = array.array ('f',[1.5,2.5,3.5,4.5,5.5,6.5])
a.typecode
b.typecode
print(a.typecode)
print(b.typecode)

f
f

In [6]:
#What is the output?
from array import array
a=array('i',[4,5,6,7])
a.insert(1,2)
a
array('i',[4,2,5,6,7])
a.insert(-1,0)
a
a.insert(10,-1)
a

array('i', [4, 2, 5, 6, 0, 7, -1])

In [35]:
class Node:
    def __init__(self, data):
        self.data = data
        self.next = None

class LinkedList:
    def __init__(self):
        self.head = None

    def print(self):
        current = self.head
        while current:
            print(current.data, end=' ')
            current = current.next
        print()

if __name__ == '__main__':

    llist = LinkedList()
    llist.head = Node(1)
    second = Node(2)
    third = Node(3)

    llist.head.next = second
    second.next = third
    llist.print()

1 2 3